<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/3.0.0/css/ionicons.css" rel="stylesheet">
      {% load static %}
      <link rel="stylesheet" href="{% static 'main/theme.css' %}">
    </head>
    <body>

    {% include 'main/navbar.html' %}
    <!--Signup form-->
    {% comment %} {% extends "main/header.html" %} {% endcomment %}

    {% block content %} 

    {% load crispy_forms_tags %}         
    
    <!--Register--> 
    <div class="container py-5">
        {% include 'main/messages.html' %}
        <h2 class="font-weight-bold mt-3">Password reset complete</h2>
		<hr>
        <p>Your password has been set. You may go ahead and log in now.</p>                 
        <a href="/home/login" class="btn btn-primary">Log in</a>
    </div>

    {% endblock %}

    </body>
</html>