<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/3.0.0/css/ionicons.css" rel="stylesheet">
      {% load static %}
      <link rel="stylesheet" href="{% static 'main/theme.css' %}">
    </head>
    <body>

    {% include 'main/navbar.html' %}
    <!--Signup form-->
    {% comment %} {% extends "main/header.html" %} {% endcomment %}

    {% block content %} 

    {% load crispy_forms_tags %}         
    
    <!--Register--> 
    <div class="container py-5">
        {% include 'main/messages.html' %}
        <h2 class="font-weight-bold mt-3">Search</h2>
		<hr>
		<p></p>
        <br>
        <br>
        <br>
        {% if table %}
        <table>
            {% for profile in table%}
            <tr>
                <td>
                    <img  src= '{{ profile.display_picture }}' style="float:left;width:150px;height:150px;padding:20px 20px 20px 20px; z-index: 7;" alt="Display Picture"><br>
                </td>
                <td> <h6>
                {{profile.first_name}} {{profile.last_name}} 
                </h6>
                </td>
                <td style='padding:10%'>
                    <a href="{% url 'main:view_profile' profile.username_id%}">
                    <button type="Submit" class="btn btn-outline-primary"> View Profile</button>
                    </a>
                </td>
            </tr>
        {% comment %} {% load django_tables2 %} 
        {% render_table table %} {% endcomment %}
            {% endfor %}
        {% endif %}
        </table>
    </div>

    {% endblock %}

    </body>
</html>