
<!DOCTYPE html>
{% extends 'main/app/base.html' %}
{% load i18n static admin_soft %}
{% load admin_urls %}

<html>
  <head>
      {% load static %}
    </head>
    <body>
    
    <!--Signup form-->
    {% comment %} {% extends "main/header.html" %} {% endcomment %}

    {% block content %} 

    

  {% comment %} {% include 'includes/navigation-fullscreen.html' %} {% endcomment %}
  
  <main style="font-family:Sen;" class="main-content  mt-0">
    <section>
      <div class="page-header min-vh-75">
        <div class="container-fluid py-4">
          <div class="row mt-4">
            <div class="col-xl-5 col-lg-5 col-md-6 d-flex flex-column mx-auto">
              <div class="card mt-8">
                <div class="card-header pb-0 text-left bg-transparent">
                    {% include 'main/messages.html' %}
                    {% load crispy_forms_tags %}         
                    <!--Register--> 
                    <div class="container py-1">
                      <div class="table-responsive">
                        <table class="table align-items-center mb-0">
                            <tr>
                                <td>
                                    <div class="d-flex flex-column justify-content-center">
                                      <h1>Profile</h1>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex flex-column justify-content-center">
                                        <div>
                                          <img class='avatar avatar-l me-2' src= '{{ dp }}' alt="Display Picture" style="float:right;width:150px;height:150px;padding:20px 20px 20px 20px; z-index: 7;">
                                        </div>
                                            
                                    </div>
                                </td>
                             <tr>
                            </table>
                        </div>
                      
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ profile_form|crispy }}
                            {% comment %} <button class="btn btn-primary" type="submit">Register</button> {% endcomment %}
                            <button type="Submit" class="btn bg-gradient-primary w-100 px-3 mb-2 ms-2 active">Save</button>
                            <a class="nav-link d-flex align-items-center me-2 active" style="padding-left: 10px" href="password_reset_profile">Wanna change password? 💀</a>
                            
                        </form>
                        {% comment %} <p class="text-right">If you already have an account, <a href="login">login</a> instead.</p> {% endcomment %}
                    </div>
                
                </div>
                <div class="card-body">

                    {% if success %} 
                
                        <p class="text-sm mt-3 mb-0 text-center"> 
                        <div class="text-center">
                            <a href="{% url 'main:login' %}" class="btn bg-gradient-dark w-100 my-4 mb-2">Sign IN</a>
                        </div> 
                        </p>
  
                    {% else %}
                        
                        <form role="form" method="post" action="#">

                            {% csrf_token %}
                            {% for field in form %}
                              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                              <div class="mb-3">
                                {{field}}
                              </div>
                              <span class="text-danger">{{ field.errors }}</span>
                            {% endfor %}



                        </form>

                    {% endif %}
                    
                </div>

                <div class="card-footer text-center pt-0 px-lg-2 px-1">
                  <p class="mb-4 text-sm mx-auto">
                    {% url 'admin_password_reset' as password_reset_url %}
                    {% if password_reset_url %}
                    <a href="{{ password_reset_url }}" class="text-info text-gradient font-weight-bold">
                        Forgotten your password or username?
                    </a>
                    {% endif %}
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
                <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image:url(https://source.unsplash.com/random/?hd_wallpaper&1)"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  {% comment %} {% include 'includes/footer-fullscreen.html' %} {% endcomment %}

{% endblock content %}

    </body>
</html>
    
