
<!DOCTYPE html>
{% extends 'main/app/base.html' %}
{% load i18n static admin_soft %}
{% load admin_urls %}

<html>
  <head>
      {% load static %}
    </head>
    <body>
    
    <!--Signup form-->
    {% comment %} {% extends "main/header.html" %} {% endcomment %}

    {% block content %} 

    

  {% comment %} {% include 'includes/navigation-fullscreen.html' %} {% endcomment %}

  <main style="font-family:Sen;" class="main-content mt-8">
    <section>
        <div class="page-header min-vh-0">
            <div style="text-align:center;" class="container-fluid py-4">

                <div class="row">
                    <div style="width:800px; margin:0 auto;" class="">
                        <div class="card mt-2" style="margin:0% 0% 0% 00%;padding:3% 3% 3% 3%">
                            <div class="table-responsive">
                                        <table class="table align-items-center mb-0">
                                            <tr>
                                                <td>
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <a href="{% url 'main:received_requests' %}">
                                                            <button type="Submit" class="btn bg-gradient-primary">Friend Requests</button>
                                                        </a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <a href="{% url 'main:sent_requests' %}">
                                                            <button name= "sent_req" type="Submit" class="btn bg-gradient-primary">Requests Sent</button>
                                                        </a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <a href="{% url 'main:friends' %}">
                                                            <button type="Submit" class="btn bg-gradient-dark"> Friend List </button>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </section>
                    


                    
    <section style="overflow:hidden;padding:3% 3% 3% 3%">
        <div class="row mt-2">
            <div style="width:800px; margin:0 auto;" class="">
                <div class="card mt-0" style="margin:0% 0% 0% 00%;padding:3% 3% 3% 3%">
                    <h2> Pending Requests </h2>
                    <div class="table-responsive">
                                <table class="table align-items-center mb-0">
                                    {% for profile in table%}
                                    <tr>
                                        <td>
                                            <div class="d-flex flex-column justify-content-center">
                                                <div>
                                                    <img  class='avatar avatar-l me-2' src= '{{ profile.display_picture }}' alt="Display Picture"><br>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex flex-column justify-content-center">
                                                    <h6>
                                                        {{profile.first_name}} {{profile.last_name}} 
                                                    </h6>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex flex-column justify-content-center">
                                                <a href="{% url 'main:view_profile' profile.username_id%}">
                                                    <button type="Submit" class="btn btn-white btn-sm w-100 mb-0"> View Profile</button>
                                                </a>
                                            </div>
                                    </tr>
                                {% comment %} {% load django_tables2 %} 
                                {% render_table table %} {% endcomment %}
                                    {% endfor %}
                                    {% if table %}
                                    {% else %}
                                        <h3> You do not have any pending requests. </h3>
                                {% endif %}
                                </table>
                        </div>
                    </div>
                </div>
            </div>  

                
        </div>
    

    </section>
  </main>

  {% comment %} {% include 'includes/footer-fullscreen.html' %} {% endcomment %}

{% endblock content %}

    </body>
</html>
