<!DOCTYPE html>
{% extends 'main/app/base.html' %}
{% load i18n static admin_soft %}
{% load admin_urls %}


<html>
  <head>
    <style>
    </style>
      {% load static %}
    </head>
    <body>
    
    <!--Signup form-->
    {% comment %} {% extends "main/header.html" %} {% endcomment %}

    {% block content %} 

    

  {% comment %} {% include 'includes/navigation-fullscreen.html' %} {% endcomment %}

  <main style="font-family:Sen;" class="main-content  mt-0">
    <section>
      <div class="page-header min-vh-75">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-6 d-flex flex-column mx-auto">
              <div class="card card-plain mt-8">
                <div class="card-header pb-0 text-left bg-transparent">

                    <div class="container py-5">
                        {% include 'main/messages.html' %}
                        <div class="d-flex flex-column justify-content-center">
                            <img class='avatar avatar-sm me-2' src= '{{other_user.display_picture.url}}' title='{{other_user.first_name}} {{other_user.last_name}}' style='float:left;width:50px;height:50px;padding:1% 1% 1% 1%;'>
                            <h1> {{other_user.first_name}} </h1>
                        </div>

                        
                        <div id ='chat-window' style="height:500px; overflow:auto;" class="card-body p-3">
                            
                            <table class = "table align-items-center mb-0" id ="chat-log"> </table>
                            
                            {{ room_name|json_script:"room-name" }}
                           
                            {% for m in prev_messages%}
                                {%for k, v in users.items%}
                                    {% if k|upper == m.user|upper %}
                                        <script>
                                            dv = document.createElement('div');
                                            dv.className = "card-body p-3";
                                            dv.innerHTML += '<tr>' 
                                            
                                            dv.innerHTML += "<td colspan='2' style=''> <img class='avatar avatar-sm me-2' src= '{{v.dp}}' title='{{v.first_name}} {{v.last_name}}' style='float:left;width:50px;height:50px;padding:1% 1% 1% 1%;'> </td>"
                                            dv.innerHTML += '<div class="d-flex flex-column justify-content-center"><text style="background: rgb(119,214,244);background: linear-gradient(90deg, rgba(119,214,244,0.47941183309261204) 0%, rgba(168,212,236,1) 0%, rgba(160,231,246,1) 100%); ; font-family:Sen;font-size:105%;border-radius:10px;padding:1% 1% 1% 1%;border-style:solid;border-color:#f1c40f;border-width: 0.1px"> {{m.text}} </text> </div>';
                                            dv.innerHTML += '</tr>'
                                            
                        
                                            document.querySelector('#chat-log').appendChild(dv)
                                        </script>
                                    {%endif%}
                                {%endfor%}
                            {% endfor %}
                        </div>
                            <input id="chat-message-input" type="text" size="100"><br>
                            <input class="btn btn-info btn-fill btn-round" id="chat-message-submit" type="button" value="💬 Send">
                            <script>
                                document.querySelector('#chat-log').value
                                const roomName = JSON.parse(document.getElementById('room-name').textContent);
                                const user = "{{user}}";
                                const chatSocket = new WebSocket(
                                    'ws://'
                                    + window.location.host
                                    + '/ws/room/'
                                    + roomName
                                    + '/'
                                );
                                function scrollToBottom() {
                                    chatwindow = document.getElementById('chat-window');
                                    chatwindow.scrollTop = chatwindow.scrollHeight;
                                  }
                                
                        
                                chatSocket.onmessage = function(e) {
                                    const data = JSON.parse(e.data);
                                    dv = document.createElement('div');
                                    dv.className = "card-body p-3";
                                    dv.innerHTML += '<tr>' 
                                    
                                    dv.innerHTML += `<td colspan='2' style=''> <img class='avatar avatar-sm me-2' src= '${data.dp}' title='${data.first_name} ${data.last_name}' style='float:left;width:50px;height:50px;padding:1% 1% 1% 1%;'> </td>`
                                    dv.innerHTML += `<div class="d-flex flex-column justify-content-center"><span style="background: rgb(119,214,244);background: linear-gradient(90deg, rgba(119,214,244,0.47941183309261204) 0%, rgba(168,212,236,1) 0%, rgba(160,231,246,1) 100%); ; font-family:Sen;font-size:105%;border-radius:10px;padding:1% 1% 1% 1%;border-style:solid;border-color:#f1c40f;border-width: 0.1px"> ${data.message} </span> </div>`;
                                    dv.innerHTML += '</tr>'
                                            
                        
                                    document.querySelector('#chat-log').appendChild(dv)
                                    scrollToBottom();
                                    
                                };
                        
                                chatSocket.onclose = function(e) {
                                    console.error('Chat socket closed unexpectedly');
                                };
                        
                                document.querySelector('#chat-message-input').focus();
                                document.querySelector('#chat-message-input').onkeyup = function(e) {
                                    if (e.keyCode === 13) {  // enter, return
                                        document.querySelector('#chat-message-submit').click();
                                    }
                                };
                        
                                document.querySelector('#chat-message-submit').onclick = function(e) {
                                    const messageInputDom = document.querySelector('#chat-message-input');
                                    message = messageInputDom.value;
                                    message = message.trim()
                                    if (message.length > 0) {
                                        chatSocket.send(JSON.stringify({
                                            'user': user,
                                            'message': message
                                        }));
                                        messageInputDom.value = '';
                                      }
                                    
                                };
                            </script>
                                                
                    </div>
                </div>
                <div class="card-body">

                    {% if success %} 
                
                        <p class="text-sm mt-3 mb-0 text-center"> 
                        <div class="text-center">
                            <a href="{% url 'main:login' %}" class="btn bg-gradient-dark w-100 my-4 mb-2">Sign IN</a>
                        </div> 
                        </p>
  
                    {% else %}
                        
                        <form role="form" method="post" action="#">

                            {% csrf_token %}
                            {% for field in form %}
                              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                              <div class="mb-3">
                                {{field}}
                              </div>
                              <span class="text-danger">{{ field.errors }}</span>
                            {% endfor %}



                        </form>

                    {% endif %}
                    
                </div>

                <div class="card-footer text-center pt-0 px-lg-2 px-1">
                  <p class="mb-4 text-sm mx-auto">
                    {% url 'admin_password_reset' as password_reset_url %}
                    {% if password_reset_url %}
                    <a href="{{ password_reset_url }}" class="text-info text-gradient font-weight-bold">
                        Forgotten your password or username?
                    </a>
                    {% endif %}
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
                <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image:url('{% static 'main/login_page_background.jpg' %}')"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  {% comment %} {% include 'includes/footer-fullscreen.html' %} {% endcomment %}

{% endblock content %}

    </body>
</html>
