<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/3.0.0/css/ionicons.css" rel="stylesheet">
      {% load static %}
      <link rel="stylesheet" href="{% static 'main/theme.css' %}">
    </head>
    <body>

    {% include 'main/navbar.html' %}
    <!--Signup form-->
    {% comment %} {% extends "main/header.html" %} {% endcomment %}

    {% block content %} 

    {% load crispy_forms_tags %}         
    
    <!--Register--> 
    <div class="container py-5">
        {% include 'main/messages.html' %}
        <h1>Signup</h1>
        <form method="POST">
            {% csrf_token %}
            {{ register_form.email|as_crispy_field }}
            {{ register_form.accept_terms|as_crispy_field }}
            {% comment %} <button class="btn btn-primary" type="submit">Register</button> {% endcomment %}
            <button type="Submit" class="btn btn-outline-primary">Sign up</button>
        </form>
        <p class="text-right">If you already have an account, <a href="login">login</a> instead.</p>
    </div>

    {% endblock %}

    </body>
</html>