<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/3.0.0/css/ionicons.css" rel="stylesheet">
      {% load static %}
      <link rel="stylesheet" href="{% static 'main/theme.css' %}">
    </head>
    <body>

    {% include 'main/navbar.html' %}
    {% include 'main/messages.html' %}
    <!--Signup form-->
    <!-- {% comment %} {% extends "main/header.html" %} {% endcomment %} -->

    {% block content %} 

    {% load crispy_forms_tags %}         
    
    <!--Register--> 
    <div class="container py-5">
        <img  src= '{{ profile.display_picture }}' alt="Display Picture" style="float:left;width:150px;height:150px;padding:20px 20px 20px 20px; z-index: 7;">
        <h2 style="padding-top:3%">{{profile.first_name}} {{profile.last_name}}</h2>
        {% if profile.self_profile %}
        <br>
        {% else %}
        <form method="POST">
          {% csrf_token %}
          {% if profile.isFriend %}
            <button name = "unfriend" type="Submit" class="btn btn-danger"> Unfriend </button>
            <button name = "send_message" type="Submit" class="btn btn-outline-primary"> Send Message</button>
          {% elif profile.sentRequestByMe %}
            <button name= "cancel_req" type="Submit" class="btn btn-danger"> Cancel Friend Request </button>
          {% elif profile.sentRequestByThem %}
            <button name= "reject_req" type="Submit" class="btn btn-danger"> Reject Friend Request </button>
            <button name= "accept_req" type="Submit" class="btn btn-primary"> Accept Friend Request </button>
          {% else %}
            <button name ="send_req" type="Submit" class="btn btn-outline-primary"> Send Friend Request </button>
          {% endif %}
          </form>
        {% endif%}
        <h6 style="padding-top:5%">Interest: {{profile.interest}}</h3>
        <h6 style="padding-top:5%">Bio: {{profile.bio}}</h3>
        <h6 style="padding-top:5%">Link: <a href={{profile.link}}>{{profile.link}}</a></h3>
        {% comment %} <p class="text-right">If you already have an account, <a href="login">login</a> instead.</p> {% endcomment %}
    </div>
    

    {% endblock %}

    </body>
</html>