
<!DOCTYPE html>
{% extends 'main/app/base.html' %}
{% load i18n static admin_soft %}
{% load admin_urls %}

<html>
  <head>
      {% load static %}
    </head>
    <body>
    
    <!--Signup form-->
    {% comment %} {% extends "main/header.html" %} {% endcomment %}

    {% block content %} 

    

  {% comment %} {% include 'includes/navigation-fullscreen.html' %} {% endcomment %}

  <main style="font-family:Sen;" class="main-content  mt-0">
    <section>
      <div class="page-header min-vh-75">
            <div style="text-align:center;" class="container-fluid py-4">
                
                <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
                    <div class="row">
                        <div class="card card-plain mt-8">
                            <div class="card-header pb-0 text-left bg-transparent">
                              {% load crispy_forms_tags %}         
    
                              <!--Register--> 
                              <div class="table-responsive">
                                  <table class="table align-items-center mb-0">
                                    <tr><td>
                                      <div>
                                      <img  class="avatar avatar-xxl me-1"src= '{{ profile.display_picture }}' alt="Display Picture">
                                      </div>
                                    </td>
                                    <td>
                                      {% if profile.first_name != "" %}
                                        <h2 style="padding-top:3%">{{profile.first_name}} {{profile.last_name}}</h2>
                                      {% else %}
                                        <h2 style="padding-top:3%">{{profile.email}}</h2>
                                      {% endif %}
                                    </td>
                                  </tr>
                                  <tr>
                                    {% if profile.self_profile %}
                                  
                                    {% else %}
                                    <form method="POST">
                                      {% csrf_token %}
                                      {% if profile.isFriend %}
                                        <td>
                                        <button name = "unfriend" type="Submit" class="btn btn-danger"> Unfriend </button>
                                        </td>
                                        <td>
                                        <button name = "send_message" type="Submit" class="btn btn-outline-primary"> Send Message</button>
                                        </td>
                                      {% elif profile.sentRequestByMe %}
                                        <td>
                                        <button name= "cancel_req" type="Submit" class="btn btn-danger"> Cancel Friend Request </button>
                                        </td>
                                      {% elif profile.sentRequestByThem %}
                                        <td>
                                        <button name= "reject_req" type="Submit" class="btn btn-danger"> Reject Friend Request </button>
                                        </td>
                                        <td>
                                        <button name= "accept_req" type="Submit" class="btn btn-primary"> Accept Friend Request </button>
                                        </td>
                                      {% else %}
                                        <td>
                                        <button name ="send_req" type="Submit" class="btn btn-outline-primary"> Send Friend Request </button>
                                        </td>
                                      {% endif %}
                                      </form>
                                    {% endif%}
                                  
                                  </tr>
                                  
                                  
                                    {% comment %} <p class="text-right">If you already have an account, <a href="login">login</a> instead.</p> {% endcomment %}
                                  </table>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
                  <div class="row">
                    <div class="card card-plain mt-2">
                      <table>
                      <tr>
                        <td>
                        <h6 style="padding-top:5%">{{profile.interest}}</h3>
                        <td>
                      </tr>
                      <tr>
                        <td>
                        <h6 style="padding-top:5%">{{profile.bio}}</h3>
                        </td>
                      </tr>
                      <tr>
                        <td>
                        <h6 style="padding-top:5%"><a class="btn bg-gradient-primary mt-3 w-100" target="_blank" href={{profile.link}}>{{profile.link}}</a></h3>
                        </td>
                      </tr>
                    </table>
                    </div>
                  </div>
                </div>     
            </div>
    </section>
  </main>

  {% comment %} {% include 'includes/footer-fullscreen.html' %} {% endcomment %}

{% endblock content %}

    </body>
</html>
